@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend input, textarea, button, select{
 vertical-align: baseline;
 font-family: inherit;
 font-weight: inherit;
 font-style: inherit;
 font-size: 100%;
 outline: 0;
 padding: 0;
 margin: 0;
 border: 0;
 font-family: 'Gmarket Sans';
 }


* { margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
ul, li {list-style:none; }
html { width:100%; }
body { width:100%; height:100%; line-height:110%; color:#000; font-size:1em; font-family: 'Gmarket Sans';overflow-y:visible!important; box-sizing:border-box; }
img { vertical-align:middle; border:none; }
a { text-decoration:none; cursor:pointer; }
p { font-family: 'Gmarket Sans'; line-height:110%; }
div, input, button { vertical-align:middle; border:none; font-family: 'Gmarket Sans';}
textarea { border:none; }
.red {color:#ee0000; font-weight:500; }


/* PC 
------------------------------------------------------------------------------------------------------------*/

.wrap { width:100%; min-width:1200px; overflow:hidden; }
.wrap .contents { position:relative; top:0; left:50%; margin-left:-960px; width:1920px; text-align:center; }

.wrap .top .inner { position:relative; top:0; left:0; width:1100px; margin:0 auto; }
.wrap .top { position:relative; top:0; left:0; width:100%; height:80px; background:#0b185c; color:#fff; z-index:1000; z-index:99999;}
.wrap .top.fix { position:fixed; }
.wrap .top .left { position:absolute; top:11px; left:0; }
.wrap .top .right { position:absolute; top:30px; right:0; }
.wrap .top .right .menu li { float:left; margin-left:36px; }
.wrap .top .right .menu li a { font-size:20px; color:#fff; font-weight:600; }

.wrap .scroll_banner { position:absolute; top:150px; left:50%; margin-left:600px; z-index:1000; text-align:center; }

.wrap .scroll_db { position:fixed; width:100%; bottom:0; z-index:1000; text-align:center; min-width:1200px;}

.wrap #top .bx-wrapper .bx-pager { margin-top:-50px; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background-color:#ffa400!important;  } 

.wrap h1 {font-size:48px;font-weight:700;letter-spacing:-2.5px; font-family: 'Gmarket Sans';}
.wrap #sec2 .bx-prev {left: 160px!important;background-size:60%;}
.wrap #sec2 .bx-next {right: 140px!important;background-size:60%;}

.wrap #dbdb1 .inner { width:1100px; display:inline-block; padding:15px 0; }
.wrap #dbdb1 .formArea { width:1100px; margin:0 auto; overflow: hidden; }
.wrap #dbdb1 .formGroup { text-align:center; }

.wrap #dbdb1 .form_table { width:100%; border-collapse:collapse; font-size:1em; }
.wrap #dbdb1 .form_table tbody th { padding:4px 10px; vertical-align:middle; text-align:left; font-size:20px; color:#fff;font-weight:500; letter-spacing:-1px;}
.wrap #dbdb1 .form_table tbody td { padding:4px 10px; vertical-align:middle; text-align:left; font-size:20px; color:#fff;}

.wrap #dbdb1 .input_style:focus, .sel_style:focus, .textarea_style:focus { border-color:#303f99; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff;}
.wrap #dbdb1 .textarea_style:focus { }

.wrap #dbdb1 .input_style { width:100%; padding:5px; height:38px; font-size:17px; border:1px solid #999; }
.wrap #dbdb1 .sel_style { width:100%; padding:5px; height:38px; font-size:17px; vertical-align:middle; border:1px solid #999; }
.wrap #dbdb1 .textarea_style { width:100%; padding:5px; height:60px; font-size:17px; border:1px solid #999; }
.wrap #dbdb1 .btn01 {width:100%; text-align:center; font-size:24px; line-height: 120%;  font-weight:600; cursor:pointer; padding:18px 0; background-color:#ffa400; color:#fff; border:none; font-family: 'Gmarket Sans';}


.wrap #dbdb2 { border-bottom:1px solid #d7d7d7;}
.wrap #dbdb2 .inner { width:860px; display:inline-block; padding-top:50px; }
.wrap #dbdb2 .formArea { width:860px; margin:0 auto; overflow: hidden; }
.wrap #dbdb2 .formGroup { text-align:center; }

.wrap #dbdb2 .formArea { width:100%; margin:0 auto; overflow: hidden; background-color:#fff; padding:20px; }
.wrap #dbdb2 .formGroup { text-align:center; }

.wrap #dbdb2 .form_table { width:100%; border-collapse:collapse; font-size:1em; border-top:1px solid #ccc; }
.wrap #dbdb2 .form_table tbody tr { border-bottom:1px solid #ccc; }
.wrap #dbdb2 .form_table tbody th { padding:20px 20px 20px 80px; vertical-align:middle; text-align:left; line-height:100%; font-size:20px; color:#000; font-weight:500;  letter-spacing:-2px; }
.wrap #dbdb2 .form_table tbody td { padding:20px 80px 20px 20px; vertical-align:middle; text-align:left; line-height:100%; font-size:20px; color:#000;}
.wrap #dbdb2 label { padding:20px 0; vertical-align:middle; text-align:left; line-height:100%; margin-right:20px; }

.wrap #dbdb2 .input_style { width:100%; padding-left:10px; height:44px; border:1px solid #ccc; font-size:14px; }
.wrap #dbdb2 .sel_style { width:100%; padding-left:10px; height:44px; border:1px solid #ccc; font-size:14px; vertical-align:middle;}
.wrap #dbdb2 .textarea_style { width:100%; padding:10px; height:80px; border:1px solid #ccc; font-size:14px; }
.wrap input[type="radio"] { width:16px; height:16px; }

.wrap #dbdb2 .submit_box { width:100%; padding:30px; }
.wrap #dbdb2 .btn02 {width:40%; text-align:center; font-size:30px; line-height: 120%; font-weight:600; letter-spacing:-2px; cursor:pointer; padding:15px 0; background-color:#ffa400; color:#fff; border:none; font-family: 'Gmarket Sans';}




.wrap .comm_tab1 {display:block;clear:both;*zoom:1; width:1200px; margin:0 auto; }
.wrap .comm_tab1:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.wrap .comm_tab1>.tab_menu {width:1080px; margin:0 auto; }
.wrap .comm_tab1>.tab_menu > li {float:left;text-align:center;font-size:28px;background-color:#0b185c; color:#fff; letter-spacing:-1px; width:50%; }

.wrap .comm_tab1>.tab_menu .tit {display:block;padding:30px 0;font-weight:bold;color:#fff;cursor:pointer;}
.wrap .comm_tab1>.tab_menu .on {}
.wrap .comm_tab1>.tab_menu .on .tit {background-color:#f1c22a; color:#0b185c;  }
.wrap .comm_tab1>.tab_cont {float:left;width:100%; clear:both; }
.wrap .comm_tab1>.tab_cont > .cont {padding:20px; }
.wrap .comm_tab1>.tab_cont > .cont:first-child { }
.wrap .comm_tab1>.tab_cont > .cont p { color:#333; padding:10px 40px; line-height:26px; text-align:left; }
.wrap .comm_tab1>.tab_cont > .cont img { cursor:pointer; margin-bottom:10px;}
/*.wrap .comm_tab1>.tab_cont > .cont img:hover { border:3px solid #ee0000; }*/
.wrap .comm_tab1 .comm_refer { }


.wrap .comm_tab2 {display:block;clear:both;*zoom:1; width:1200px; margin:0 auto; padding:70px 0; }
.wrap .comm_tab2:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.wrap .comm_tab2>.tab_menu {width:100%; margin:0 auto; }
.wrap .comm_tab2>.tab_menu > li {float:left;text-align:center;font-size:28px;background-color:#fff; letter-spacing:-1px; width:13.1%;  margin:0 0.5%; }

.wrap .comm_tab2>.tab_menu .tit {display:block;padding:30px 0;font-weight:bold;color:#000;cursor:pointer;}
.wrap .comm_tab2>.tab_menu .on {}
.wrap .comm_tab2>.tab_menu .on .tit {background-color:#0b185c; color:#f1c22a;  }
.wrap .comm_tab2>.tab_cont {float:left;width:100%; clear:both; }
.wrap .comm_tab2>.tab_cont > .cont {padding:20px; }
.wrap .comm_tab2>.tab_cont > .cont:first-child { }
.wrap .comm_tab2>.tab_cont > .cont p { color:#333; padding:10px 40px; line-height:26px; text-align:left; }
.wrap .comm_tab2>.tab_cont > .cont img { margin-bottom:10px;}
/*.wrap .comm_tab1>.tab_cont > .cont img:hover { border:3px solid #ee0000; }*/
.wrap .comm_tab2 .comm_refer { }




.wrap .qna_layer {
margin: 0 auto;
width: 960px;
padding:320px 0 0 260px ;
text-align:left;}

.wrap .qna_heading {
border-bottom:1px solid #d7d7d7;
color: #333;
font-size:22px;
font-weight:700;
padding: 15px 20px;
margin-top:20px; 
cursor: pointer;
position: relative;}

.wrap .qna_content {
padding: 25px 45px; }
.wrap .qna_content > p { font-size:18px; line-height:26px; }





.m_wrap .comm_tab1 {display:block;clear:both;width:100%; margin:0 auto; padding-top:20px; }
.m_wrap .comm_tab1:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
.m_wrap .comm_tab1>.tab_menu {width:100%; margin:0 auto; }
.m_wrap .comm_tab1>.tab_menu > li {float:left;text-align:center;font-size:18px; background-color:#0b185c; color:#fff; letter-spacing:-1px; width:50%;}


.m_wrap .comm_tab1>.tab_menu .tit {display:block;padding:0;font-weight:bold;color:#fff;cursor:pointer; padding:15px 0; }
.m_wrap .comm_tab1>.tab_menu .on { }
.m_wrap .comm_tab1>.tab_menu .on .tit { background-color:#f1c22a; color:#0b185c;  }
.m_wrap .comm_tab1>.tab_cont {float:left;width:100%; clear:both; }
.m_wrap .comm_tab1>.tab_cont > .cont { }
.m_wrap .comm_tab1>.tab_cont > .cont:first-child { }
.m_wrap .comm_tab1>.tab_cont > .cont p { padding:10px; text-align: center; text-align:left; font-size:14px; }
.m_wrap .comm_tab1>.tab_cont > .cont img { margin-bottom:5px; padding-top:20px; }
/*.m_wrap .comm_tab1>.tab_cont > .cont img:hover { border:3px solid #ee0000; }*/
.m_wrap .comm_tab1 .comm_refer {  }

.m_wrap .qna_layer {

border-radius:5px; 
margin: 0 auto;
width: 100%;
padding:20px;
text-align:left;}

.m_wrap .qna_heading { 
border-bottom:1px solid #d7d7d7;
color: #333;
font-size:16px;
font-weight:600;
line-height:20px;
margin-top:10px; 
padding: 15px 15px;
cursor: pointer;
position: relative;}

.m_wrap .qna_content { 
padding: 15px 30px 15px 30px;
line-height:20px;
font-size:14px;}
p { padding: 5px 0; }
.m_wrap .qna_content > p {line-height:22px;}




/* MOBILE
------------------------------------------------------------------------------------------------------------*/

.m_wrap { width:100%; overflow:hidden; background-color:#fff; max-width:720px; margin:0 auto; }
.m_wrap .contents img { width:100%; }

.m_wrap .quick { position: relative; width: 100%; top:0; z-index:9999; max-width:720px; }
.m_wrap .quick.on { transition: all 0.5s; position: fixed; margin-top: 0; }
.m_wrap .quick nav { width: 100%; margin: 0 auto; }
.m_wrap .quick nav ul { overflow: hidden; }
.m_wrap .quick img {width:100%; }

.m_wrap h1 {font-size:32px;font-weight:700;letter-spacing:-2.5px;color:#fff;text-align:center;padding:10px; line-height:110%; font-family: 'Gmarket Sans';}

.m_wrap #top .bx-wrapper .bx-pager { margin-top:-50px; }

.m_wrap .bx-wrapper .bx-pager { padding:20px 0; }
.m_wrap .bx-prev {left: -25px!important;background-size:30%;}
.m_wrap .bx-next {right: -55px!important;background-size:30%;}

/*form */
.m_wrap .inner { padding-bottom:20px;}
.m_wrap .formArea { width:94%; margin:0 auto; padding-bottom:10px; overflow: hidden; background-color:#fff; padding:20px 10px; }
.m_wrap .formGroup { margin-bottom:15px; text-align:center; }

.m_wrap .input_style:focus, .m_wrap .sel_style:focus, .m_wrap textarea_style:focus { border-color:#303f99; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; }

.formGroup:before, .formGroup:after { content: " "; display:table; }
.formGroup:after { clear:both; }

.m_wrap .form_table { width:100%; padding:20px 0; border-collapse:collapse; background-color:#fff;}
.m_wrap .form_table tbody tr { border-bottom:1px solid #ccc; }
.m_wrap .form_table tbody th { padding:10px 5px; vertical-align:middle; text-align:right; line-height:22px; font-size:16px; font-weight:500; letter-spacing:-2px; }
.m_wrap .form_table tbody td { padding:10px 5px; vertical-align:middle; text-align:left; line-height:22px; font-size:16px; }

.m_wrap .input_style:focus, .sel_style:focus, textarea_style:focus { border-color:#9f9f9f; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fff;}

.m_wrap input {color:#333!important; }
.m_wrap label { padding:10px 0; margin-right:20px; }
.m_wrap .input_style { width:100%; padding-left:3px; height:40px; border:1px solid #9f9f9f; font-size:14px; color:#333!important; }
.m_wrap .sel_style { width:100%; padding-left:3px; height:40px; border:1px solid #9f9f9f; font-size:14px; color:#333; vertical-align:middle;}
.m_wrap .textarea_style { width:100%; padding:6px; height:60px; border:1px solid #9f9f9f; font-size:14px; color:#333; resize:none;}

.m_wrap .submit_box { width:100%; text-align:center; padding-top:10px;}
.m_wrap .submit_box .btn01 { width:70%; background-color:#ffa400; color:#fff; padding:10px;font-weight:600; font-size:24px; letter-spacing:-2px; cursor:pointer; font-family: 'Gmarket Sans'; border:none; }